*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
   width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 38, 255);
    padding: 10px;
}
.todo-card{
    background-color: rgb(255, 255, 255);
    /* width: 100%; */
    max-width:500px; 
    margin: 100px auto 20px auto;
    padding: 40px 30px 70px 30px;
    border-radius: 10px;
}
.todo-card h1{
    color: rgb(0, 38, 255);
    padding: 5px;
}
.todo-card img{
    width: 30px;
}
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(236, 236, 236) ;
    padding-left: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#input-text{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: rgb(0, 38, 255);
    font-weight: 14px;
    
}
.button{
    border: none;
    outline: none;
    background-color:rgb(0, 38, 255) ;
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
}
ul li{
    padding:10px 30px;
    list-style: none;
    color: rgb(143, 143, 143) ;
    font-size: 17px;
    /* user-select:none; */
    position: relative;
    cursor: pointer;
}
ul li::before{
    content: '';
    width:20px;
    height:20px;
    border-radius: 50%;
    background-image:url(/images/unchecked.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 5px;
}
.checked{
    text-decoration: line-through;
    color:rgb(143, 143, 143);
}
.checked::before{
    background-image: url(/images/checked.png);
}
span{
    position: absolute;
    right: 0;
    font-size: 20px;
    transition: 0.4s;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    padding-bottom: 1px;

}
span:hover{
    background-color: rgb(229, 229, 229);

}
